body {
	background-color: #E8E8E8;
}

#donate-container {
	margin-top:10px;
	background-color: #F8F8F8;
	width: 500px;
	height: 600px;
}

.navbar {
	margin-bottom: 0;
}

.navbar .btn-primary {
	border: none;
}

.jumbotron {
	position: absolute;
	top: 39%;
	left: 25%;
	width: 50%;
	opacity: 0.90;
	z-index: 50;
}
