body {
	background-color: #E8E8E8;
}

#donate-container {
	margin-top:10px;
	background-color: #F8F8F8;
	width: 80%;
	max-width: 590px;
	padding-bottom: 20px;
	height: auto;
}

.navbar {
	margin-bottom: 0;
}

.navbar .btn-primary {
	border: none;
}

.jumbotron {
	position: absolute;
	top: 39%;
	left: 25%;
	width: 50%;
	opacity: 0.90;
	z-index: 50;
}

#logged-in {
	padding-right: 10px;
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

#textbox {
  position: absolute;
    right: 10%;
	top: 20%;
    width: 40%;
	height: 70%;
    padding: 10px;
    z-index: 0;
	text-align: center;
	opacity: .9;
}

.stretch {
    width: 100%;
    height: auto;
}